article{
  padding-top: 1rem;
  border-bottom: 1px #dddddd solid;
  padding-bottom: 1rem;
  margin-bottom: .5rem;
}

.meta{
  float: right;
  text-align: right;
  display: inline-block;
}

.title{
  margin: 0 0 1rem 0;
  /*display: inline-block;*/
  color: #333 ;
  font-size: 2rem;
  font-weight: 300;
  transition: color .3s ease;
  word-wrap: break-word;
}

.title:hover{
  color: #6599ed;
}

.content{
  margin-bottom: .5rem;
  line-height: 1.5;
}

.cate-tag-splitter{
  position: relative;
  bottom: -.25rem;
  display: inline-block;
  border-color: #333333;
  border-style: solid;
  border-width: 0 1px 0 0 ;
  height: 1rem;
  margin: 0 1rem 0 .5rem;
}

.btn{
  font-family: "Consolas", "Courier New", Courier, mono, serif;
  display: inline-block;
  padding: 2px 5px;
  border-radius: 5px;
  margin-bottom: 0;
  color: #333;
  font-weight: 100;
  margin-right: .5rem;
  transition: background .2s ease;
}

.category{
  border: 1px limegreen solid;
  background: #FFF;
}

.category:hover{
  background: limegreen;
}

.tag{
  border: 1px skyblue solid;
  margin-right: .5rem;
  background: #FFF;
}

.tag:hover{
  background: skyblue;
}